.bg-indigo-600 {
    background-color: var(--color-indigo-600)
        /* oklch(51.1% 0.262 276.966) = #4f39f6 */
    ;
}

.text-white {
    color: var(--color-white)
        /* #fff = #ffffff */
}

.text-blue-700 {
    color: var(--color-blue-700)
        /* oklch(48.8% 0.243 264.376) = #1447e6 */
    ;
}

.font-bold {
    --tw-font-weight: var(--font-weight-bold)
        /* 700 */
    ;
    font-weight: var(--font-weight-bold)
        /* 700 */
    ;
}